/* pre {
    background: #f4f4f4;
    border: 1px solid #ddd;
    border-left: 3px solid #f36d33;
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
} */


pre {
    line-height:1;
    border-left: 7px solid #ff6961;
    text-color: black;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 14px; 
    line-height: 1.5;
    max-width: 100%;
    overflow: auto;
    padding: 0.2em 1.5em;
    display: block;
    word-wrap: break-word;
}

.merge-request {
  font-family: monospace;
}

.added {
  background-color: #e6ffed;
  color: #24292e;
}

.removed {
  background-color: #ff6961 ;
  color: #24292e;
}

.unchanged {
  color: inherit;
}