pre {
    line-height:1;
    background: #f4f4f4;
    border-left: 3px solid #f36d33;
    text-color: black;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 10px; 
    line-height: 1;
    max-width: 100%;
    overflow: auto;
    padding: 0.2em 1.5em;
    display: block;
    word-wrap: break-word;
    margin-left:6px;
    margin-bottom:1px;
}

.merge-request {
  font-family: monospace;
}

.added {
  background-color: #e6ffed;
  color: #24292e;
}

.removed {
  background-color: rgb(239 68 68);;
  color: #24292e;
}

.unchanged {
  color: inherit;
}