$background-secondary: #ecf0f3;
$dst-border-01: #dbe0e4;
$header-height: 63;
$entity-filters-height: 40;
$header-margin: 32;
$nav-bar-width: 7.2rem;
$max-nav-bar-width: 30rem;
$engagement-card-width: 53.6rem;
$engagement-card-radius: 0.8rem;
$course-workspace-width: 72.2rem;
$stream-header-height: #{$header-height}px;
$stream-header-margin: #{$header-margin}px;
$action-panel-width: 30rem;
$action-panel-padding: 2.4rem;
$action-panel-spacing: 2.4rem;
$action-panel-max-height: calc(100vh - (#{$stream-header-height} + #{$stream-header-margin} * 2));
$detail-pane-content-max-width: 53.6rem;
$detail-pane-width: 53.6rem;
$workspace-top-spacing: calc(#{$stream-header-height} + #{$stream-header-margin});
$workspace-width: calc(100vw - #{$nav-bar-width});
$item-card-height: 31rem;
$item-card-width: 26.4rem;
$item-card-padding: 0.4rem;
$item-card-radius: 1.2rem;
$nav-popover-min-width: 22rem;
$nav-popover-max-width: 27rem;
$nav-popover-height: 24rem;
$notification-pane-width: 40rem;
$settings-pane-width: 66rem;

:export {
  navBarWidth: $nav-bar-width;
  maxNavBarWidth: $max-nav-bar-width;
  engagementCardWidth: $engagement-card-width;
  engagementCardRadius: $engagement-card-radius;
  streamHeaderHeight: $stream-header-height;
  workspaceTopSpacing: $workspace-top-spacing;
  actionPanelWidth: $action-panel-width;
  actionPanelMaxHeight: $action-panel-max-height;
  actionPanelPadding: $action-panel-padding;
  actionPanelSpacing: $action-panel-spacing;
  detailPaneMaxWidth: $detail-pane-content-max-width;
  notificationPaneWidth: $notification-pane-width;
  itemCardHeight: $item-card-height;
  itemCardWidth: $item-card-width;
  itemCardPadding: $item-card-padding;
  itemCardRadius: $item-card-radius;
  navPopoverMinWidth: $nav-popover-min-width;
  navPopoverMaxWidth: $nav-popover-max-width;
  navPopoverHeight: $nav-popover-height;
  headerHeight: $header-height;
  headerMargin: $header-margin;
  entityFiltersHeight: $entity-filters-height;
  workspaceWidth: $workspace-width;
  dstBorder01: $dst-border-01;
  courseWorkspaceWidth: $course-workspace-width;
  backgroundSecondary: $background-secondary;
  settingsPaneWidth: $settings-pane-width;
}
